body{
	background-color: #f6f6f6;
	font-family: 'roboto', sans-serif, arial, tahoma;
	font-weight:300;
	font-size: 12px;
	line-height:1.1;
	box-sizing: border-box;
}
.side-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 267px;
    min-height: 100%;
    background-color: #5e5e5e;
    color: #fff;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
}
.side-modal.left{
	left:0;
	transform: translateX(-100%);
	overflow: scroll;
	div{
		margin-bottom:2px;
		border-bottom: 1px solid #919191;
		h2{
			margin-left: 16px;
		    margin-top: 21px;
		    font-size: 14px;
		    font-weight: 200;
		    margin-bottom: 16px;
		    color: #919191;
		}
		ul{
			padding-left: 0;
		    list-style-type: none;
		    margin-bottom: 0;
		    font-size: 16px;
			li{
				a{
					color:#fff;
					padding: 16px 15px;
					display:block;
				}
				a:hover{
					text-decoration:none;
				}
			}
			li:hover{
				background-color: #ff4f74;
			}
		}
	}
}
.side-modal.right{
	right:0;
	transform: translateX(100%);
	overflow: scroll;
	img{width:68px;height:58px;}
	.mobile_busket-header{
		padding: 21px 16px 14px 16px;
		font-size:14px;
		border-bottom: 1px solid #919191;
		span{
			color: #ccc;
		}
	}
	.mobile_busket-body{
		.busket_item{
			position: relative;
		    padding: 10px 54px 14px 14px;
		    font-size: 12px;
		    border-bottom: 1px solid #919191;
		    .busket_item-caption{
		    	margin-top:7px;
	    		color: #c6c6c6;
				span:nth-child(2){
					display: block;
				    color: #ff4f74;
				    font-size: 14px;
				}
			}
			.img-wrap{
				background-color:#fff;
				float: left;
			    width: 78px;
			    padding: 10px 5px;
			    margin-top: 6px;
    			line-height: 1.2;
			    margin-right: 15px
			}
			.price{
				margin-top: 11px;
    			line-height: 1.2;
				span{
					display:block;
				}
				span:nth-child(2){
					font-size:14px;
				}
			}
			.btn_close{
				visibility: visible;
		    	opacity: 1;
		    	left:auto;
		    	right:15px;
		    	top:39%;
		    	span{
		    	    height: 2px;
		    	}
			}
		}
	}
	.mobile_busket-footer{
		padding: 18px 15px;
		border-bottom: 1px solid #919191;
		span{
			font-size:14px;
		}
		span:nth-child(2){
			float: right;
    		font-size: 16px;
		}
	}
	.submit_wrap{
	    padding: 40px 15px;
		a{
		    color: #FFFFFF;
		    text-decoration: none;
		    background:#ff4f74;
		    padding: 13px 48px;
		    border-radius: 3px;
		    font-size: 16px;
		}
	}	
}
.toLeftActive{
	transform: translateX(0%)!important;
}
.global-wrapper.toLeft{    
	transform: translate(267px,0px);    
	transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;}
.global-wrapper.toRight{    
	transform: translate(-267px,0px);
	transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
}
.global-wrapper{
	transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
}
header{
	min-height:50px;
    background-color: #fff;
    border-bottom: 4px solid #ff6d63;
    padding: 17px 0 11px;
    position:relative;
    .menu_trigger{
    	padding: 1px 6px;
	    position: absolute;
	    top: 14px;
	    left: 9px;
	    width: 35px;
	    background-color: transparent;
	    border: 0;
	    span{
	    	display: block;
		    height: 3px;
		    width: 100%;
		    margin-bottom: 4px;
		    background-color: #ff4f74;
		    border-radius: 5px;
	    }
    }
    .busket_trigger.visible-xs{
	    position: absolute;
	    top: 11px;
	    right: 13px;
	    width: 25px;
	    height: 25px;
	    overflow: hidden;
		i{
			background-image: url(../img/ico-sprite-2x.png);
		    background-position: -9px -86px;
		    background-size: 127px 104px;
		    width: 23px;
		    height: 23px;
		    display: block;
		    transform: scale(2);
		}
	}
	div.container{
		padding:0 15px;
		margin:0 auto;
		position:relative;
		.logo{
		    background-color: #e2e2e2;
		    border-radius: 4px;
		    display: inline-block;
		    margin-left:4px;
		    margin-top:3px;
    		width: 155px;
    		height: 73px;
		}
		nav.main_nav{
			padding-top: 8px;
		    position: absolute;
		    top: 0;
		    right: 10px;
			ul.float_list{
				list-style-type: none;
    			padding-right: 14px;
				li{
					padding-left: 38px;
					margin-left:20px;
				    position: relative;
				    float: left;
					div{
						padding-top:6px;
						span{
							display:inherit;
						}
					}
					i.ico.ico-message{
			  			background-position: -43px -92px;
						background-size:127px 104px;
			  			width: 12px;
				    	height: 9px;
					}
					i.ico.ico-inf{
			  			background-position: 0px -92px;
			  			background-size: 127px 104px;
			  			width: 13px;
			  			height: 12px;
					}
					i.ico.ico-busket{
						background-position: -15px -92px;
						background-size: 127px 104px;
						width: 12px;
						height: 12px;
					}
					i.ico.ico-lk{
						background-position: -29px -92px;
						background-size: 127px 104px;
						width: 12px;
						height: 12px;
					}
					i{	
						background-image: url(../img/ico-sprite-2x.png);
						position: absolute;
						left: 11px;
			    		top: 2px;
					}
					a{	
						text-decoration:none;
						color:#303030;
						font-weight: 500;
					}
				}
				li:nth-child(1){
					margin-left:0;
				}
			}
		}
	}
}			
main{
	position:relative;
	div.container{
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
		div.navigation_form{
			position:relative;
			padding-top: 15px;
			padding-right: 82px;
    		margin: 0;
			form{
				i{
					background-image: url(../img/ico-sprite-2x.png);
					position: absolute;
				    top: 23px;
				    left: 15px;
				    z-index: 1;
				    background-size: 127px 104px;
				    background-position: -93px -66px;
				    width: 16px;
				    height: 16px;
				}
				input{
				    width: 100%;
				    font-weight: 200;
				    font-size: 14px;
				    font-style: italic;
				    margin: 0 auto;;
				    border-radius: 3px;
				    border: none;
				    padding: 3px 0 4px 43px;
				    height:32px;
				    box-sizing:border-box;
				}
				button{
					position:absolute;
					bottom:0;
					right:5px;
				    padding: 10px 12px;
				    border: none;
				    background-color: #ff4f74;
				    color: #fff;
				    font-weight: 400;
				    font-size: 12px;
				    line-height: 12px;
				    border-radius: 3px;
				    margin-left: 5px;
				}
			}	
		}
	}
		div.product{
			background-color:#fff;
			margin:20px 6px 0 3px;
			overflow:hidden;
			div.prod_l_name{
				width:33%;
			    padding:10px 31px;
			    display:inline-block;
			    border-bottom-width: 0px;
				h1{
					color:#636363;
				    font-size: 34px;
				    margin-top:15px;
				    margin-bottom:17px;
				    font-weight: 500;
				}
				ul.asortyment{
					list-style-type:none;
					padding-left: 0px;
	    			margin-bottom: 4px;
					li{
						margin-bottom:10px;
						a{
							font-size: 16px;
							font-weight:200;
							color:#303030;
							text-decoration:underline;
						}
						a:hover{
							color:#ff4f74;
							text-decoration:none;
						}
					}
				}
				a{
					display: inline-block;
					font-size:16px;
					font-weight:200;
					color:#ff4f74;
					margin-top:10px;
				}
			}
			.prod_r_pict,.prod_l_pict{
				width:67%;
				position:relative;
				float:right;
				min-height:100px;
				div.item_block{
					width:100%;
					height:100%;
					position:absolute;
					overflow: hidden;
					left:0;
					top:0;
					z-index:3;
					span{
					    position: absolute;
					    display: block;
					    overflow: hidden;
					    transition: all 400ms ease; 
					}
					span:nth-child(1){
						top: 0;
					    left: 0;
					    width: 50%;
					    height: 50%;
					}
					span:nth-child(2){
					    top: 0;
					    right: 0;
					    width: 50%;
					    height: 50%;
					}
					span:nth-child(3){
					    bottom: 0;
					    left: 0;
					    width: 50%;
					    height: 50%;
					}
					span:nth-child(4){
					    bottom: 0;
					    right: 0;
					    width: 50%;
					    height: 50%;	
					}
					span:nth-child(2):before{
					    -webkit-transform: translateX(-50%);
					    -ms-transform: translateX(-50%);
					    transform: translateX(-50%);
					}
					span:nth-child(3):before{
					    -webkit-transform: translateY(-50%);
					    -ms-transform: translateY(-50%);
					    transform: translateY(-50%);
					}
					span:nth-child(4):before{
						-webkit-transform: translate(-50%, -50%);
					    -ms-transform: translate(-50%, -50%);
					    transform: translate(-50%, -50%);
					}
					span.animation:nth-child(1){
						transition: all 400ms ease;
						top: -50%;
					    left: -50%;
					}
					span.animation:nth-child(2){
						transition: all 400ms ease;
						top: -50%;
					    right: -50%;
					}
					span.animation:nth-child(3){
						transition: all 400ms ease;
						bottom: -50%;
					    left: -50%;
					}
					span.animation:nth-child(4){
						transition: all 400ms ease;
						bottom: -50%;
					    right: -50%;
					}
					span:before{
					    content: '';
					    display: block;
					    position: absolute;
					    top: 0;
					    left: 0;
					    right: 0;
					    bottom: 0;
					    width: 200%;
					    height: 200%;
					}
					span.one:before{
						background:url(../img/images/1.jpg) top center no-repeat;
						background-size: cover;
					}
					span.two:before{
						background:url(../img/images/2.jpg) top center no-repeat;
						background-size: cover;
					}
					span.three:before{
						background:url(../img/images/3.jpg) top center no-repeat;
						background-size: cover;
					}
					span.four:before{
						background:url(../img/images/4.jpg) top center no-repeat;
						background-size: cover;
					}
				}
				div.item{
					display: none;
				}
				div.item.active{
					display: block;
					.col-sm-6{
						width:25%;
						display: inline-block;
						text-align:center;
						overflow: hidden;
						padding:0;
						height:199px;
						.thumbnail-img{
							    display: block;
							    position: relative;
							    width: 100%;
							    height: 115px;
							    width: 126px;
							    margin: 30px auto;
							img{
								background-size: 100%;
								height: 115px;
    							width: 126px;
							}
						}
						span.thimbnail-name{

							p{
								font-size:16px;
								margin-top:20px;
							}
						}
					}
				}

		}
		.prod_l_pict{
			float:left;
		}
	}
	.news{
		background-color:#fff;
		color: #636363;
		margin-top:15px;
		margin-right:5px;
		padding:24px 30px;
		div h1{
			padding-left:15px;
			margin-bottom:53px;
			color:#000;
		}
		.col-lg-4{
			font-size:14px;
			font-weight: 300;
			span:nth-child(1){
				display:block;
			}
			span:nth-child(2){
				font-size:12px;
			}
			div.news-info{
				padding-top:35px;
			}
			p{display:inline;}
			img{
				float:left;
				max-width:100px;
			}
			.news-header{
				div.head{
					margin-left: 100px;
				    padding-top: 12px;
				    padding-left: 16px;
				    font-size:17px;
					font-weight: 400;
					color:#000;
				}
			}
			a{
			    color: #ff4f74;
				font-size: 16px;
			    font-weight: 500;
			    margin-left:0;
			    margin-top: 0;
			    margin-top:20px;
			}
			a:hover{
				text-decoration: underline;
				text-decoration-color:#ff4f74;
			}
		}
		p{
			margin-bottom:20px;
			line-height: 24px;
		}
		a{
			display: block;
		    margin-top: 19px;
		    margin-left:15px;
		    text-decoration: none;
		    color: #ff4f74;
		    font-weight: 500;
		    font-size:14px;
		    text-decoration: underline;
			text-decoration-color:#ff4f74;
		}
		a.inline{
			display: inline-block;
		}
	}
}
footer{
	background-color: #4a4647;
    color: #e2e2e2;
    padding-top: 27px;
    margin-top:15px;
    span{
    	font-size: 16px;
    	font-weight: 500;
    	color: #919191;
    	display: block;
    	margin-bottom: 18px;
    }
    ul{
	    padding-left: 0;
	    list-style-type: none;
	    line-height: 24px;
	    li{
	    	margin-bottom: 8px;
	    	a{
	    		color: #e2e2e2;
			    text-decoration: none;
			    letter-spacing: -1px;
			    font-size: 16px;
			    font-weight: 300;
	    	}
	    	a:hover{
	    		color: #e2e2e2;
	    		text-decoration:none;
	    		border-bottom:1px solid #fff;
	    	}
	    	a.contact:hover{
	    		text-decoration:none;
	    		border:none;
	    	}
	    }
	    li.address{
	   		padding-left:20px;
	    }
    }
    .col-xs-12 span.foot{
    	float:right;
    }
    	i.ico{
			background-image: url(../img/ico-sprite-2x.png);
			margin-top: 5px;
			margin-right: 10px;
		    float: left;
		    clear:both;
		}
		i.ico.ico-tel {
		    background-size: 127px 104px;
		    background-position: -117px 0px;
		    width: 10px;
		    height: 13px;
		}
		i.ico.ico-clock {
		    background-size: 127px 104px;
		    background-position: -75px -67px;
		    width: 13px;
		    height: 12px;
		}
		.ico.ico-messege {
		    background-size: 127px 104px;
		    background-position: -43px -92px;
		    width: 12px;
		    height: 9px;
		}
		.ico.ico-loc{
			background-size: 127px 104px;
			background-position: -117px -15px;
		    width: 10px;
		    height: 12px;
		}
}
#map{
	width:100%;
	height:271px;
}
//																										settings desctop
@media screen and (min-width: 992px){
	.col-lg-4{
		width:33.3333%;
		float:left;
	}
}

//																										settings tabblet
@media screen and (min-width: 768px) and (max-width: 992px) {
	header div.container{
		width:768px;
	}
	header div.container{
		.logo{
			display:block;
			margin:0 auto;
		}
		nav.main_nav{
			position:initial !important;
			margin:21px auto 0;
			ul.float_list{
				padding-left: 4px;
	    		padding-right: 0px;
	    		margin-bottom: 69px;
	    		line-height: 1.4;
				li{
					margin-left:54px;
				}
				li:nth-child(1){
					margin-left: 0;
				}
				li:nth-child(2){
					margin-left: 48px;
				}
			}
		}
	}
	main div.container div.navigation_form form button{
		right:0;
		font-weight: 200;
	} 
	main div.container{
		width:768px;
	}
	main{
		div.product{
			margin-top:15px;
			div.prod_l_name{
				width:40%;
				padding: 12px 25px;
				h1{
					line-height: 1.0;
					font-size: 31px;
					margin-bottom:18px;

				}
				ul.asortyment{
					line-height: 2;
					li{
						margin:0;

					}
				}
				a{
					margin-top:0;
				} 
			}
			.prod_r_pict,.prod_l_pict{
				width:60%;
				div.item.active{
					padding:10px;
					.col-sm-6{
						height:185px;
						.thumbnail-img{
							margin:10px 0px;
							img{
								height: 90px;
				   				width: 100px;
							}
						}
						span.thimbnail-name{
							p{
								margin:5px 0;
								padding:0 10px;
							}
						}
				
					}	
				}
			}
		}
		.news{
			padding: 24px 15px;
			div h1{
				margin-top: 7px;
    			padding-left: 15px;
    			margin-bottom: 53px;
    			font-size: 32px;
			}
			.col-sm-6{
				padding-left: 15px;
				font-size: 16px;
				.news-header div.head{
					padding: 18px 16px;
					font-size: 20px;
				}
				.news-info{
					padding-top: 10px;
				}
			}
			.col-sm-6:nth-child(2){
				padding:0 0 0 40px;
			}
			a{
				font-size: 16px;
				margin-top:28px;
			}
		} 
	}
	footer{
		.container{
		margin:0;
			.col-sm-3:nth-child(2){
				padding-top:10px;
				padding-left:0;
				ul{
					padding-top: 15px;
				}
			}
			.col-sm-3:nth-child(3){
				padding-right: 0;
				padding-top: 10px;
    			padding-left: 9px;
				ul{
					padding-left: 20px;
    				padding-top: 14px;
    				li:nth-child(3) a{
				    	font-size:14px !important;
				    }
   				}
			}
			.col-sm-3:nth-child(4){
				padding-right: 0px;
    			padding-left: 16px;
    			padding-top: 10px;
    			ul{
				    padding-top: 20px;
				    padding-left: 25px;
				    line-height: 1;
				    font-size: 14px;
    			}
			}
			ul{
				padding-top:6px;
			}
		}
	}		
}

//																							settings phone
@media screen and (min-width: 320px) and (max-width: 767px){
	header{
		div.container{
			display:none;
		}
	}

	main div.container{
		div.navigation_form{
		padding:0;
		margin:6px 0;
		i{
			top:8px !important;
		}
		}
		.product{
			border-bottom: 1px solid #ccc;
			margin:0 -15px;
			div.prod_l_name{
				ul.asortyment li a{
					padding-bottom:12px;
					font-weight: 300;
				}
				h1{
					margin:0 -30px;
					padding:10px 15px;
					border-bottom: 1px solid #ccc;
				}
				a{
					padding-bottom:12px;
				}
			}
		}
		.news{
			margin-top:1px;
			margin-left: -15px;
    		margin-right: -15px;
    		padding:7px 0;
    		font-size:16px;
    		h1{
    			font-size:23px;
    			margin-bottom:25px;
    		}
    		p{
    			display:inline;
    			font-size:16px;

    		}
    		p:nth-child(3){
				display:none;
			}
			a{
				display:block;
				margin-top:20px;
			}
		}
	}
	main .news .col-lg-4{
		margin-bottom:25px;
		.news-header{
			div.head{
				padding-top: 20px;
			    padding-left: 15px;
			    padding-right: 25px;
			    font-size: 16px;
			}
		}	
		div.news-box{
			margin-top: -5px;
		}
	}
	.news .col-lg-4 span:nth-child(1){
		margin-bottom:10px;
	}
	button{
		display:none;
	}
	.prod_r_pict,.prod_l_pict{
		display:none;
	}
	main div.product div.prod_l_name{
		width:100%;
		padding:0 30px;
	}
	main div.container .product div.prod_l_name h1{
		font-size: 20px;
		padding-top:15px;
		padding-bottom:15px;
	}
	div.product div.prod_l_name ul.asortyment{
		padding-top: 8px;
		line-height: 0.8;
		li{
			margin-bottom:0;
		}
	}
	footer{
		.container{
			padding:0;
			ul{
				padding-top:3px;
				li{
					a.contact{
						padding-left: 10px;
					}
				}
				li.address{
					padding-left: 27px;
					font-size:14px;
					line-height: 1;
				}
			}
			.col-xs-12{
				margin-bottom:10px;
			}
		}
	}
	#map{
	height:144px;
	}
}
//																								button close
.btn_close {
    position: absolute;
    display: block;
    background-color: transparent;
    border: 0;
    top: -4px;
    left: 6px;
    height: 23px;
    width: 23px;
    opacity: 0;
    visibility: hidden;
}
.btn_close span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ff4f74;
    border-radius: 5px;
    position: absolute;
    margin-bottom: 0;
    top: 50%;
    left: 50%;
    margin-left: -11.5px;
}
.btn_close span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn_close span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.btn_close.left.active{
	top: 10px;
    left: 15px;
    opacity:1;
    visibility: visible;
}
.btn_close.right.active{
	top: 10px;
	left:auto;
    right: 15px;
    opacity:1;
    visibility: visible;
}

//																								hide something
.hide{
	display:none !important;
}

//																							make no scroll window
.no_scroll{
	overflow: hidden;
}