doctype
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title swipex
		link(rel='stylesheet', type='text/css', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='../bower_components/jquery/dist/jquery.min.js')
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
		link(rel='stylesheet', type='text/css', href='../css/style.css')
		script(src='../bower_components/jquery/dist/jquery.min.js')
	body
		.side-modal.left
			div
				h2 Каталог товаров
				ul
					li
						a Топки и топки инсерты
					li
						a Камины
					li
						a Дровяные печи
					li
						a Дымоходы
			div
				h2 Личный кабинет
				ul
					li
						a Личный кабинет
					li
						a История заказов
					li
						a Избранное
			div
				h2 Контакти
				ul
					li
						a Контакти
					li
						a О нас
					li
						a Команда
			div
				h2 Полезная информация
				ul
					li
						a Оплата и доставка
					li
						a Возврат товара
					li
						a Монтаж
					li
						a Новости
		.side-modal.right
			.mobile_busket-header
				span В корзине 2 товара
			.mobile_busket-body
				.busket_item
					.img-wrap
						img(src='../img/images/1_1.png')
					.busket_item-caption
						span Модель 898722 
						span SUPRAVISION 267/269
					.price
						span Итого
						span 22 500 руб.
					.btn_close
						span
						span
				.busket_item
					.img-wrap
						img(src='../img/images/1_1.png')
					.busket_item-caption
						span Модель 898722 
						span SUPRAVISION 267/269
					.price
						span Итого
						span 22 500 руб.
					.btn_close
						span
						span
			.mobile_busket-footer
				span Сумма товаров
				span 45 000 руб.
			.submit_wrap
				a ОФОРМИТЬ ЗАКАЗ
		
		.global-wrapper 															
			header
				.menu_trigger.visible-xs
					span
					span
					span
				.btn_close.left
					span
					span
				.busket_trigger.visible-xs
					i.ico.ico-busket
				.btn_close.right
						span
						span
				.container
					a.logo
					nav.main_nav
						ul.float_list
							li
								i.ico.ico-message
								a(href='#') Контакти
								div 
									span 8 (495) 374-66-54
									span info@pechi-tut.ru
							li
								i.ico.ico-inf
								a(href='#') Полезная информация
								div 
									span Оплата и доставка
							li
								i.ico.ico-busket
								a(href='#') Корзина заказов
								div
									span 1 заказ на сумму
									span 200 000 руб.
							li
								i.ico.ico-lk
								a(href='#') Личный кабинет
								div
									span Вход
			main
				.container
					.navigation_form
						form
							i.ico.ico-search(url='../img/ico-sprite-2x.png')
							input(type='text', placeholder='Найти')
							button(type='submit') НАЙТИ
					.product
						.prod_l_name
							h1 Топки и топки инсерты
							ul.asortyment
								li
									a(data-slide-to="1") Топки Supra
								li
									a(data-slide-to="2") Топки Richard Le Droff
								li
									a(data-slide-to="3") Топки Jotul
								li
									a(data-slide-to="4") Новые поступления
								li
									a(data-slide-to="5") Скидки на топки
								li
									a(data-slide-to="6") Сопутствующие товары для топок
							a Все топки	
						.prod_r_pict
							.item_block
								span.one
								span.one
								span.one
								span.one
							.item.active
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55

					.product
						.prod_l_pict
							.item_block
								span.two
								span.two
								span.two
								span.two
							.item.active
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
						.prod_l_name
							h1 Камины
							ul.asortyment
								li
									a(data-slide-to="1") Камины Supra
								li
									a(data-slide-to="2") Камины Richard Le Droff
								li
									a(data-slide-to="4") Новые поступления
								li
									a(data-slide-to="5") Скидки на камины
								li
									a(data-slide-to="6") Сопутствующие товары для каминов
							a Все камины

					.product
						.prod_l_name
							h1 Дровяные печи
							ul.asortyment
								li
									a(data-slide-to="1") Дровяные печи Supra
								li
									a(data-slide-to="2") Дровяные печи Richard Le Droff
								li
									a(data-slide-to="3") Дровяные печи Jotul
								li
									a(data-slide-to="4") Новые поступления
								li
									a(data-slide-to="5") Скидки на дровяные печи
								li
									a(data-slide-to="6") Сопутствующие товары для печей
							a Все печи
						.prod_r_pict
							.item_block
								span.three
								span.three
								span.three
								span.three
							.item.active
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
					.product
						.prod_l_pict
							.item_block
								span.four
								span.four
								span.four
								span.four
							.item.active
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
							.item
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_1.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_2.png')
									span.thimbnail-name
										p NEO 67/76 VL1 G
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_3.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
								.col-sm-6 
									.thumbnail-img
										img(src='../img/images/1_4.png')
									span.thimbnail-name
										p NEO 55
						.prod_l_name
							h1 Дымоходы
							ul.asortyment
								li
									a(data-slide-to="1") Дымоходы Uni
								li
									a(data-slide-to="2") Дымоходы Schiedel permeter
								li
									a(data-slide-to="4") Новые поступления
								li
									a(data-slide-to="5") Скидки на дымоходы
								li
									a(data-slide-to="6") Сопутствующие товары для дымоходов
							a Все дымоходы
					.news
						div
							h1 Новости
						div
							.col-lg-4.col-sm-6.col-xm-12
								.news-header
									img.new_one(src='../img/images/new1.jpg')
									div.head
										span Мега распродажа от ПЕЧИ-ТУТ
										span 18.09.2015
								.news-box
									.news-info
									p 	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proin gravida dolor sit amet lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									p Aenean euismod bibendum
									a ПОДРОБНЕЕ
							.col-lg-4.col-sm-6.col-xs-12
								.news-header
									img.new_one(src='../img/images/new2.jpg')
									div.head
										span Мега распродажа от ПЕЧИ-ТУТ
										span 18.09.2015
								.news-box
									.news-info
									p 	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proin gravida dolor sit amet lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									p Aenean euismod bibendum
									a ПОДРОБНЕЕ
							.col-lg-4.hidden-sm.hidden-xs 
								.news-header
									img.new_three(src='../img/images/new3.jpg')
									div.head
										span Мега распродажа от ПЕЧИ-ТУТ
										span 18.09.2015
								.news-box
									.news-info
										p 	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.Proin gravida dolor sit amet lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
										a ПОДРОБНЕЕ
							a.inline Читать все новости
			footer
				.container
					.col-sm-3.col-xs-12
						span ПОЛЕЗНАЯ ІНФОРМАЦИЯ
						ul
							li
								a Оплата и доставка
							li
								a Возврат товара
							li
								a Монтаж
							li
								a Новости
					.col-sm-3.col-xs-12
						span ЛИЧНИЙ КАБИНЕТ
						ul
							li
								a Личный Кабинет
							li
								a История заказов
							li
								a Избранное
					.col-sm-3.col-xs-12
						span КОНТАКТИ
						ul
							li
								a.contact 8 (495) 374-66-54
								i.ico.ico-tel
							li
								a.contact 8 (800) 333-66-84
								i.ico.ico-tel
							li
								a.contact 8:30 - 18:00 Ежедневно
								i.ico.ico-clock
							li
								a.contact info@pechi-tut.ru
								i.ico.ico-messege
					.col-sm-3.col-xs-12
						span АДРЕС
						ul
							i.ico.ico-loc
							li.address Москва, 41 км МКАД,
							li.address ТОГК "Славянский Мир",
							li.address Павильон Г17/3
					.col-xs-12
						div#map
					.col-xs-12
						span.foot © Suprafire.ru 2015
		script(src='../js/main.js')









